@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Shantell Sans", cursive;
}

#app {
  font-weight: 400;
  font-style: normal;
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  color: #cf6098;
  font-size: 40px;
  align-self: center;
}

h2 {
  padding-left: 16px;
}

h2,
.todo-name,
.todo-description {
  color: #f3f7fe;
}

input:focus {
  outline: none;
}

.todo-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #f3f7fe;
  border-radius: 5px;
  border: 2px solid #cf6098;
}

.todo-checkbox::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' viewBox='0 -960 960 960' width='20' stroke='%23cf6098' stroke-width='20' fill='%23cf6098'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.todo-checkbox:checked::after {
  width: 30px;
  height: 30px;
}

.section-todo {
  display: flex;
  flex-direction: column;
}

.form-todo {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px;
  min-width: 600px;
  min-height: 200px;
  background-color: #e6aeca;
  border: 3px solid #cf6098;
  border-radius: 10px;
}

.todo-input {
  background-color: #f3f7fe;
  border: 3px solid #cf6098;
  border-radius: 10px;
  min-height: 40px;
  width: 600px;
  margin: 16px;
}

.todo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-top: 2px solid #f3f7fe;
  min-width: 600px;
  padding-left: 16px;
}

.todo-button {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  gap: 24px;
}

.todo-name,
.todo-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  height: 50px;
}

button {
  font-size: 16px;
  font-weight: 700;
  background-color: #f3f7fe;
  color: #cf6098;
  border: 3px solid #cf6098;
  cursor: pointer;
  border-radius: 10px;
  min-width: 100px;
  height: 45px;
  margin-top: 10px;
}

button.disabled {
  cursor: default;
  opacity: 0.7;
}

